.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(10, 25, 41, 0.8);
  backdrop-filter: blur(10px);
  padding: 1rem 2rem;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar-brand {
  color: #61dafb;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 1rem;
}
.navbar-links {
    display: flex;
    align-items: center;
}
.auth-links {
    margin-left: 30px;
    border-left: 1px solid #555;
    padding-left: 30px;
}